@import url(Styles/coustom_properties.css);
@import url(Styles/style-global.css);

@import url(Styles/Inicios.css);
@import url(Styles/Login.css);
@import url(Styles/seleccion-rol.css);
@import url(Styles/components/contenido_empresa.css);
@import url(Styles/components/Listas.css);
@import url(Styles/datos-empleado.css);