@import url(Styles/coustom_properties.css);
@import url(Styles/style-global.css);

@import url(Styles/Inicio.css);
@import url(Styles/Login.css);
@import url(Styles/seleccion-rol.css);

@import url(Styles/inicio-empresa.css);
@import url(Styles/components/contenido_empresa.css);
@import url(Styles/Lista_ventas.css);