.card__producto--boton-seleccionar{
    background-color: var(--fondo_boton);
    color: var(--textos_contenidos);
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    font-size: 15px;
}

.card__producto--boton-seleccionar:hover{
    background-color: var(--fondo_boton-hover);
    cursor: pointer;
}