.cuerpo__boton--interaccion{
    background-color: #0A7917;
    color: #B2ED77;
    padding-bottom: var(--altos_boton-interacciones);
    padding-top: var(--altos_boton-interacciones);
    padding-left: var(--anchos_boton-interacciones);
    padding-right: var(--anchos_boton-interacciones);
    border-radius: var(--border_radius-botones);
    font-size: 15px;
}

.cuerpo__boton--interaccion:hover{
    background-color: #B2ED77;
    color: #0A7917;
    cursor: pointer;
}