.card__lista__boton--accion {
  height: var(--alto_boton-accion);
  width: var(--ancho_boton-accion);
  border-radius: var(--border_radius-botones);
  background-color: #000000;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--tipo_letra);
}

.card__lista__boton--accion:hover {
  background-color: #515050;
}