@import url(coustom_properties.css);
.campo_form{
    width: var(--ancho-campo_form);
    height: var(--alto-campo_form);
    background-color: var(--fondo__campo_form);
    border-radius: 5px;
    padding-left: 10px;
}