@import url(boton-seleccionar.css);

.card__producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D7D2D2;
    height: 223px;
    width: 265px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: auto;
}
.card__producto--texto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card__producto--texto__contenido{
    font-family: var(--tipo_letra);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


