
.card__lista{
  display: grid;
  grid-template-columns: calc(var(--ancho_card-informacion) - 300px) 300px;
  grid-template-areas:
    "textos botones";
  background-color: rgb(162, 162, 172);
  padding-top: 8px;
  padding-bottom: 8px;
  width: var(--ancho_card-informacion);
  height: var(--alto_card-informacion);
  border-radius: 25px;
  margin: 15px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
}

.card__lista--textos {
  grid-area: textos;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card--texto{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.card__lista--texto__propiedad{
  font-size: 15px;
  font-weight: bold;
}

.card__lista--texto__descripcion{
  font-size: 15px;
  font-weight: lighter;
}

.card__lista--botones{
  grid-area: botones;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}