@import url(coustom_properties.css);
.encabezado{
    grid-area: header;
    height: var(--alto_header);
    display: flex;
    align-items: end;
    justify-content: center;
}

.encabezado__Logo{
    height: var(--alto_Logo);
    width: var(--ancho_Logo);
}