/* ===============================================
   MODAL DETALLE REGISTRO (VENTAS)
   =============================================== */

.modulo__overlay--detalle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay_oscuro);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: var(--z-index_modal);
}

.modulo__detalle-registro {
    background-color: var(--color_gris-oscuro);
    border-radius: var(--radius_modal);
    padding: var(--padding_modal-vertical) var(--padding_modal-horizontal);
    width: var(--ancho_modal-grande);
    box-shadow: var(--sombra_grande);
    display: flex;
    flex-direction: column;
    gap: var(--padding_boton-vertical);
}

.modulo__detalle-registro--texto {
    color: var(--color_blanco);
    font-size: var(--font_md);
    font-family: var(--tipo_letra);
    margin: 0;
}

.modulo__detalle-registro--texto strong {
    font-weight: bold;
}

.modulo__detalle-registro--botones {
    display: flex;
    justify-content: center;
    margin-top: var(--margin_lg);
}

.modulo__boton--cerrar {
    background-color: var(--color_blanco);
    color: var(--color_gris-oscuro);
    border: 2px solid var(--color_gris-oscuro);
    padding: var(--padding_md) 35px;
    border-radius: var(--border_radius-botones);
    font-size: var(--font_md);
    font-weight: 500;
    cursor: pointer;
    font-family: var(--tipo_letra);
    transition: var(--transicion_estandar);
    text-align: center;
}

.modulo__boton--cerrar:hover {
    background-color: var(--color_gris-hover);
}

#toggle-modulo-detalle:checked~.modulo__overlay--detalle {
    display: flex;
}