@import url(coustom_properties.css);
@import url(logo-navegacion.css);
.navbar{
    grid-area: header;
    height: var(--alto_header-navegacion);
    display: grid;
    grid-template-columns: var(--navbar__perfil) var(--navbar__navegacion--links) var(--navbar__logo);
    align-items: center;
    justify-content: center;
    background-color: #c2c1c1;
    grid-template-areas: "perfil navegacion logo";
}

.navbar__perfil {
    grid-area: perfil;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.navbar__perfil--usuario { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #c2c0c0;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: none;
    z-index: 1001;
}
.navbar__desplegable {
    position: absolute; 
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    background-color: none; 
    border: 1px solid #a5a4a4;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px; 
    width: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar__perfil--nombre{
    font-size: 20px;
    font-family: var(--tipo_letra);
}
.navbar__perfil:hover .navbar__desplegable {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.navbar__perfil:hover .navbar__perfil--usuario {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2); 
}

.boton__cerrar-sesion {
    background-color: #f5f5f5; 
    color: #000000; 
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    width: 159px; 
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    margin-top: 5px; 
}

.boton__cerrar-sesion:hover {
    background-color: #b9b9b9;
    color: #ff0000; 
}

.navbar__navegacion--links{
    grid-area: navegacion;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navegacion__links{
    font-size: var(--tipo_letra);
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 18px;
    border-radius: 25px;
}

.navegacion__links:hover{
    background-color: #f0eeee;
    color: #3976FB;
}
.navbar__logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}