:root{
    --fondo_main:#DFDFDF;
    --alto_header: 200px;
    --alto_footer: 200px;
    --alto_main: calc(100vh - (var(--alto_footer) + var(--alto_header)));
    --fondo_footer: black;
    --anchos_grids: 25vw;
    --alto_Logo: 173px;
    --ancho_Logo: 258px;
    --anchos_boton: 20px;
    --altos_boton: 15px;
    --fondo_boton: black;
    --textos_contenidos: white;
    --fondo_boton-hover: rgb(71, 71, 71);
    --alto_pie-pagina__contenido: 80%;
    --tipo_letra: 'Instrument Sans', sans-serif;
    --estilo_letra: lighter;
    --ancho_Logo_footer: 108px;
    --alto_Logo_footer: 59px;
    --linea_division_footer: 5px;
    --alto_logos_redes: 22px;
    --ancho_logos_redes: 22px;
    --textos_redes: 10px;
    --textos_footer: 15px;
    --ancho-campo_form: 393px;
    --alto-campo_form: 34px;
    --alto__check-in: 346px;
    --ancho__check-in: 339px;
}