@import url(components/boton.css);
@import url(components/pie_pagina.css);
@import url(components/navbar.css);
@import url(components/logo-navegacion.css);
@import url(components/icon-perfil.css);

.cuerpo{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.cuerpo__contenido{
    text-align: center;
    font-family: var(--tipo_letra);
    font-weight: var(--estilo_letra);
    font-size: 32px;
    font-weight: bold;
    gap: 20px;
}