@import url(components/barra_de_busqueda.css);
@import url(components/caja_de_productos.css);
@import url(components/card-producto.css);
@import url(components/boton-agregar-producto-empresa.css);

.cuerpo__accionar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-area: cuerpo__accionar;
    margin-left: 200px;
}

.cuerpo__accionar > a{
    margin-left: 200px;
}
