@import url(components/boton.css);
@import url(components/logo_footer.css);
@import url(components/logos_redes.css);
@import url(components/campo_form.css);
@import url(components/pie_pagina.css);
@import url(components/encabezado_pagina_inicio.css);
/* main */
.cuerpo{
    height: var(--alto_main-inicio);
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.cuerpo__bienvenida--mensaje{
    text-align: center;
    font-family: var(--tipo_letra);
    font-weight: var(--estilo_letra);
    font-size: 32px;
}

.menu-inicio--formulario,
.menu-registro-empresa--formulario,
.menu-registro-usuario--formulario{
    display: flex;
    flex-direction: column;
    font-family: var(--tipo_letra);
}

.menu-campo{
    display: flex;
    flex-direction: column;
    font-family: var(--tipo_letra);
    margin-top: 10px;
}
.menu-inicio--enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-family: var(--tipo_letra);
    color: #008CFF;
}

.menu-inicio--enlaces--menus{
    font-family: var(--tipo_letra);
    color: #008CFF;
    margin-top: 10px;
}

.menu-inicio__enlaces--menus--registro{
    text-decoration: none;
}

/* controladores-checkbox forms menus */
.cuerpo > input[type="checkbox"] {
    display: none;
}

.cuerpo__menu-registro-empresa,
.cuerpo__menu-registro-usuario {
    display: none;
}

.cuerpo__menu-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggle-registro__empresa:checked ~ .cuerpo__menu-inicio,
#toggle-registro__empresa:checked ~ .cuerpo__menu-registro-usuario {
    display: none;
}

#toggle-registro__empresa:checked ~ .cuerpo__menu-registro-empresa {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#toggle-registro__usuario:checked ~ .cuerpo__menu-inicio,
#toggle-registro__usuario:checked ~ .cuerpo__menu-registro-empresa {
    display: none;
}

#toggle-registro__usuario:checked ~ .cuerpo__menu-registro-usuario {
    display: flex; 
    flex-direction: column;
    align-items: center;
}