@import url(components/pie_pagina.css);
@import url(components/encabezado_pagina_inicio.css);
.seleccion-rol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #C3C1C1;
    width: var(--ancho_caja_seleccion-rol);
    height: var(--alto_caja_seleccion-rol);
    border-radius: 119px;
}
.cuerpo__contenido--texto{
    font-family: var(--tipo_letra);
    font-weight: var(--estilo_letra);
    font-size: 96px;
    margin-bottom: 20px;
}
.campo-rol{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: var;
    background-color: rgb(253, 253, 253);
    width: var(--ancho_campo-rol);
    height: var(--alto_campo-rol);
    font-size: 64px;
    border-radius: 42.5px;
}

.campo-rol:hover{
    background-color: #aaaaaa;
    color: rgb(36, 35, 35);
    transition: 0.3s;
}